<!-- HTML template file  -->
<!-- wiring up what you defined in the component’s file (the TypeScript file) with some HTML, with the help of Angular's directives and binding syntax. -->
<!-- *ngFor directive is being used to display all returned movies, where each movie is displayed in its own card. -->
<!-- "movies" refers to the movies variable declared in the component file -->
<div class="movies-view">
    <span>
        <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="routeToProfile()">
            User Profile
        </button>
        <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="routeToWelcome()">
            Log out
        </button>
    </span>

    <mat-card *ngFor="let m of movies; let i=index;">
        <mat-dialog-content
            (click)="openSingleMovieViewDialog(m.Title, m.Actors, m.Description, m.Director, m.Genre, m.ImagePath, m.Rated, m.Released, m.Runtime, m.Year)"
            matTooltip="Info about the action">
            <mat-card-title>{{m.Title}}</mat-card-title>
            <!-- open child component SingleMovieView -->
            <!-- <button mat-button (click)="openSingleMovieViewDialog()">More info</button> -->
            <!-- this works correctly to display the movie title, but I want to open a dialog with the button^^ -->
            <!-- <app-single-movie-view [movie]="movie"></app-single-movie-view> -->

            <mat-card-subtitle><img src={{m.ImagePath}} class="moviesImage"
                    onerror="this.src='https://via.placeholder.com/100x150/FFC0CB/000000?text=Image_URL_Broken'" />
            </mat-card-subtitle>
        </mat-dialog-content>
    </mat-card>
</div>