* {
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #e288f9;
  background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
}
.nav {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  .nav__left {
    width: 50%;
    font-size: 6.5rem;
    -webkit-text-stroke: 0.15rem white; /* width and color */
    font-family: sans;
    color: gray;
    padding: 2rem;
  }
  .nav__right {
    width: 50%;
    button {
      width: 40%;
    }
  }
}
.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-card {
    flex: 1;
    height: auto;
    background-color: rgb(226, 241, 240);
    align-content: space-between;
    padding: 3rem;
    .profile-view__title {
      font-size: 3rem;
      padding-bottom: 2rem;
      -webkit-text-stroke: 0.15rem gray; /* width and color */
      color: rgb(252, 252, 252);
      text-align: center;
    }
    .profile-view__details {
      padding-top: 1rem;
    }
    .mat-card-content {
      text-align: left;
    }
    .mat-card-actions {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 800px) {
  * {
    padding: 0;
  }
  .nav {
    .nav__left {
      width: unset;
      font-size: 4.5rem;
    }
    .nav__right {
      margin-right: 1rem;
      button {
        margin-top: 0.5rem;
        width: 100%;
      }
    }
  }
  .profile-view {
    padding: 0;
    margin: 0;
    .mat-card {
      margin: auto;
      .profile-view__title {
        display: flex;
        font-size: 2rem;
        padding-bottom: 1rem;
      }
      .profile-view__details {
        padding-top: 0;
      }
      .mat-card-title {
        padding-top: 1rem;
      }
      .mat-card-actions {
        flex-wrap: wrap;
        button {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
