<!-- HTML template file  -->
<!-- wiring up what you defined in the component’s file (the TypeScript file) with some HTML, with the help of Angular's directives and binding syntax. -->
<!-- *ngFor directive is being used to display all returned movies, where each movie is displayed in its own card. -->
<!-- "movies" refers to the movies variable declared in the component file -->
<div class="main">
    <div class="nav">
        <div class="nav__left">myFlix</div>
        <div class="nav__right">
            <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="goBack()">
                Back
            </button>
            <button mat-raised-button style="margin-right: 10px;" color="secondary" (click)="routeToWelcome()">
                Log out
            </button>
        </div>
    </div>
    <div class="profile-view">
        <mat-card>
            <mat-card-content>
                <div class="profile-view__title">{{userInfo.Username}}'s User info</div>
                <mat-card-title class="profile-view__details">Username:</mat-card-title>
                <div class="value">{{userInfo.Username}}</div>

                <mat-card-title class="profile-view__details">Email:</mat-card-title>
                <div class="value">{{userInfo.Email}}</div>

                <mat-card-title class="profile-view__details">Birthday:</mat-card-title>
                <div class="value">{{userInfo.Birthday}}</div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="goBack()">
                    Back To Movies
                </button>
                <button mat-raised-button style="margin-right: 10px;" color="secondary"
                    (click)="openEditUserDialog(userInfo.Username, userInfo.Email, userInfo.Birthday)">
                    Edit Profile Info
                </button>
                <button mat-raised-button style="margin-right: 10px;" color="warn" (click)="openDeleteUserDialog()">
                    Delete Profile
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>