* {
  box-sizing: border-box;
  padding: 0.5rem;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #e288f9;
  background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
}
.nav {
  display: inline-flex;
  align-items: center;
  width: 100%;
  .nav__left {
    font-size: 6.5rem;
    -webkit-text-stroke: 0.15rem white; /* width and color */
    font-family: sans;
    color: gray;
    padding: 2rem;
  }
}
.profile-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}
.mat-card {
  //   display: flex;
  //   align-content: space-around;
  height: auto;
  width: 80%;
  background-color: rgb(226, 241, 240);
  align-content: space-between;
  padding: 3rem;
}

.profile-view__title {
  font-size: 4rem;
  padding-bottom: 4rem;
  -webkit-text-stroke: 0.15rem gray; /* width and color */
  color: rgb(252, 252, 252);
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.profile-view__details {
  padding-top: 1rem;
}
